@charset "UTF-8";
.carousel .carousel-item {
  height: calc(100vh - 65px);
}
.carousel .carousel-item img {
  object-fit: cover;
  height: 100%;
}

/* bootstrap navbar */
.navbar {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  height: 65px;
}
.navbar .navbar-brand img {
  height: 40px;
}
.navbar .btn-w {
  width: 5rem;
}
.navbar .icon {
  list-style: none;
  display: flex;
  margin: 0 0 0 30px;
}
.navbar .icon a {
  margin: 0 0.5rem;
  color: #f1f1f1;
  font-size: 1.4rem;
}
.navbar .icon a:hover {
  color: #63E6BE;
}

/* 主要內容共用區 */
img {
  display: block;
  width: 100%;
}

/* 最新消息區 */
.heading {
  position: relative;
  display: flex;
  align-items: center;
  border-left: 8px solid #444;
  margin: 2rem 0 1rem;
  padding-left: 1.5rem;
}
.heading::before {
  content: "";
  position: absolute;
  left: 10.2rem;
  bottom: 8px;
  width: calc(100% - 10.2rem);
  height: 3px;
  background-color: #444;
}
.heading::after {
  content: "";
  margin-left: 0.65rem;
  font-weight: 600;
}
.heading h2 {
  margin: 0.2rem 0;
  font-weight: 600;
}

.list {
  display: flex;
}
.list .item {
  position: relative;
  flex: 1;
  margin: 0 10px;
  /* 剪裁遮色片 */
}
.list .item .clip {
  display: block;
  clip-path: circle(50% at 50% 50%);
}
.list .item h3 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.65);
  color: #f1f1f1;
  opacity: 0;
  transition: 0.4s;
}
.list .item h3:hover {
  opacity: 1;
}
.list .mask {
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
}
.list .mask-1 {
  mask-image: url(../images/blobs-1.svg);
}
.list .mask-2 {
  mask-image: url(../images/blobs-2.svg);
}
.list .mask-3 {
  mask-image: url(../images/blobs-3.svg);
}

/* 英文標題區 */
#news {
  padding-top: 65px;
}
#news .heading::after {
  content: "NEWS";
}

#hot {
  padding-top: 65px;
}
#hot .heading::after {
  content: "HOT";
}

#women .heading::after {
  content: "ALL";
}
#women .content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0.5rem 0;
}
#women .content p {
  font-size: 0.85rem;
  margin: 0.5rem 0;
  color: #8f6b6d;
  font-weight: 700;
}
#women .content p del {
  font-size: 0.8rem;
  color: #444;
  padding-right: 0.65rem;
}

/* 商品詳情頁 */
#productPage .heading::before {
  content: "";
  display: none;
}
#productPage .product-row {
  display: flex;
}
#productPage .product-row > div {
  flex: 1;
  margin: 48px;
}
#productPage .product-row #tabs .photo {
  padding: 0;
}
#productPage .product-row #tabs ul {
  display: flex;
}
#productPage .product-row .detail h2 {
  display: inline-block;
  font-weight: 700;
  background-color: #444;
  color: #f1f1f1;
  padding: 10px;
  box-shadow: 5px 5px 0 #23f444;
  margin-bottom: 24px;
}
#productPage .product-row .detail data {
  display: block;
  margin: 10px 0;
  font-size: 0.85rem;
}
#productPage .product-row .detail mark {
  background-color: #23f444;
  margin-left: 10px;
}
#productPage .product-row .detail p {
  margin: 16px 0;
}

/* jQuery UI */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border: 1px solid #444;
  background: transparent;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
  padding: 0;
}

/* 頁尾區 */
footer {
  height: 10vh;
  line-height: 10vh;
  text-align: center;
}/*# sourceMappingURL=style.css.map */