@use './variables/' as *;
@use './function/' as *;

//bootstrap carousel
.carousel {
    .carousel-item {
        height: calc(100vh - 65px); //不同單位運算用 => calc()記得運算符號前後要加空格

        img {
            object-fit: cover;
            height: 100%;
        }
    }
}

/* bootstrap navbar */
.navbar {
    position: sticky;
    top: 0;
    left: 0;
    z-index: $z-index-l;
    height: 65px;

    .navbar-brand {
        img {
            height: 40px;
        }
    }

    .btn-w {
        width: 5rem;
    }

    .icon {
        list-style: none;
        display: flex;
        margin: 0 0 0 30px;

        a {
            margin: 0 0.5rem;
            color: $light;
            font-size: $font-size-xl;

            &:hover {
                color: #63E6BE;
            }
        }
    }
}

/* 主要內容共用區 */
img {
    display: block;
    width: 100%;
}

/* 最新消息區 */
.heading {
    position: relative;
    display: flex;
    align-items: center;

    @include bordered-l;
    margin: $interval-heading;
    padding-left: $interval-rem-l;

    &::before {
        // 偽元素是行內元素，本身不支援寬高，但因父元素有設定flex已改變子元素的型態
        content: '';
        position: absolute;
        left: 10.2rem;
        bottom: 8px;
        width: calc(100% - 10.2rem);
        height: 3px;
        background-color: $deep;
    }

    &::after {
        // &::before跟&::after => 一定要有content，當裝飾，不要放重要內容
        content: '';
        margin-left: $interval-rem-s;
        font-weight: 600;
    }

    h2 {
        margin: 0.2rem 0;
        font-weight: 600;
    }
}

.list {
    display: flex;

    .item {
        position: relative;
        flex: 1;
        margin: 0 10px;

        /* 剪裁遮色片 */
        .clip {
            display: block;
            clip-path: circle(50% at 50% 50%);
            // clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            // clip-path: ellipse(25% 40% at 50% 50%);
        }

        h3 {
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $alpha-b-65;
            color: $light;
            opacity: 0;
            transition: $speed-fast;

            &:hover {
                opacity: 1;
            }
        }

    }

    .mask {
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
    }

    .mask-1 {
        mask-image: url(../images/blobs-1.svg);
    }

    .mask-2 {
        mask-image: url(../images/blobs-2.svg);
    }

    .mask-3 {
        mask-image: url(../images/blobs-3.svg);
    }
}


/* 英文標題區 */
#news {
    padding-top: 65px;

    .heading {
        &::after {
            // &::before跟&::after => 一定要有content，當裝飾，不要放重要內容
            content: 'NEWS';
        }
    }
}

#hot {
    padding-top: 65px;

    .heading {
        &::after {
            // &::before跟&::after => 一定要有content，當裝飾，不要放重要內容
            content: 'HOT';
        }
    }
}

#women {
    .heading {
        &::after {
            // &::before跟&::after => 一定要有content，當裝飾，不要放重要內容
            content: 'ALL';
        }
    }

    .content {
        h3 {
            font-size: $font-size-l;
            font-weight: 600;
            margin: 0.5rem 0;
        }

        p {
            font-size: $font-size-s;
            margin: 0.5rem 0;
            color: $lesser-4;
            font-weight: $font-weight-bold;

            del {
                font-size: $font-size-xs;
                color: $deep;
                padding-right: $interval-rem-s;
            }
        }
    }
}

/* 商品詳情頁 */
#productPage {
    .heading {
        &::before {
            content: '';
            display: none;
        }
    }

    .product-row {
        display: flex;

        >div {
            flex: 1;
            margin: $interval-xxl;
        }

        #tabs {
            .photo {
                padding: 0;
            }

            ul {
                display: flex;


            }
        }
    }
}

/* jQuery UI */
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    border: 1px solid $deep;
    background: transparent;
}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor {
    padding: 0;
}

/* 頁尾區 */
footer {
    height: 10vh;
    line-height: 10vh;
    text-align: center;
}