// primary
$primary: #23f444;

// Neutral
$deep: #444;
$grey: #999;
$light: #f1f1f1;

// background
$bg-1: #f2edf0;
$bg-2: #e6ece5;
$bg-3: #ecf0f4;

// lesser輔助色
$lesser-1: #f3e4e4;
$lesser-2: #efdbdb;
$lesser-3: #cdaaab;
$lesser-4: #8f6b6d;

// alpha
$alpha-b-65: rgba(0, 0, 0, 0.65);
$alpha-b-75: rgba(0, 0, 0, 0.75);
$alpha-b-85: rgba(0, 0, 0, 0.85);
$alpha-w-50: rgba(255, 255, 255, 0.5);